/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the background color */
body {
  background-color: white;
  font-family: Arial, sans-serif;
}

/* Header Styles */
header {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

/* About Section Styles */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 20px;
  align-items: center;
}

.about-content {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  border-radius: 50%;
}

p {
  font-size: 1.2rem;
  margin-top: 20px;
}

/* Footer Styles */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 125px;
}
.footer-nav {
  font-size: 20px;
}
.footer-nav ul {
  list-style-type: none;
  padding: 0;
}

.footer-nav ul li {
  display: inline;
  margin-right: 20px;
}
.footer-nav ul li a {
  text-decoration: none;
  color: black;
}

/* Style for footer navigation links on hover */
.footer-nav a:hover {
  color: #ffd700; /* Yellow text color on hover */
}
.social-icons {
  padding-top: 20px;
}

/* Style for social media icons */
.social-icons a {
  margin: 0 10px; /* Add spacing between icons */
  text-decoration: none;
}

/* Style for social media icons images (adjust width/height as needed) */
.social-icons img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  filter: invert(1);
}
.copy {
  color: black;
  font-size: 18px;
}
.siteurl {
  font-size: 20px;
  text-align: center;
  padding: 10px 0 ;
}
